@import url("https://fonts.googleapis.com/css?family=Open+Sans:600,800");

body {
  scrollbar-base-color:         #b2b2b2;
  scrollbar-base-color:         #b2b2b2;
  scrollbar-3dlight-color:      #b2b2b2;
  scrollbar-highlight-color:    #b2b2b2;
  scrollbar-track-color:        #b2b2b2;
  scrollbar-arrow-color:        #000000;
  scrollbar-shadow-color:       #b2b2b2;
  scrollbar-dark-shadow-color:  #b2b2b2;
  background-color:             #ffcc66;
  padding:                      2vh 0;
  font-family:                  "Open Sans";
  font-size:                    12px;
}
input, select {
  padding:          1vh 1vw;
  margin:           1vh 0;
  display:          inline-block;
  border:           1px solid #b2b2b2;
  border-radius:    4px;
  height:           4vh;
  line-height:      4vh;
}
h2 {
  font-size:        20px;
}
@-moz-document url-prefix(http://),url-prefix(https://) {
  scrollbar,
  thumb,
  scrollbarbutton,
  thumb:hover, scrollbarbutton:hover {
    -moz-appearance: none !important;
  }
  thumb,
  scrollbarbutton,
  scrollbar,
  thumb:hover,
  scrollbarbutton:hover {
    background:     #b2b2b2 !important;
  }
  scrollbarbutton {
    display:        none !important;
  }
  scrollbar[orient=vertical] {
    min-width:      10px !important;
  }
}
.scrollbar-container {
  position:         absolute;
  top:              0;
  bottom:           0;
  left:             0;
  right:            0;
  margin:           10px;
  border:           2px solid rgba(0, 0, 0, 0.2);
  overflow:         auto;
  background-color: whiteSmoke;
}
.scrollbar-container .inner {
  height:           100vh;
  width:            100vw;
  padding:          0.5em;
  background-color: #FFF;
}
::-webkit-scrollbar {
  background:       transparent;
  width:            5px;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb {
  border:           solid whiteSmoke 5px;
}
#modal {
  position:         fixed;
  width:            100vw;
  height:           100vh;
  padding:          20vh 0;
  top:              0;
  left:             0;
  background:       rgba(0, 103, 138, 0.9);
  color:            #FFFFFF;
}
#modal a {
  color:            white;
  display:          block;
  margin:           auto;
  width:            100px;
  height:           30px;
  line-height:      16px;
  text-align:       center;
  text-decoration:  none;
  font-size:        16px;
  padding:          5px;
  border:           2px solid white;
  border-radius:    4px;
  text-shadow:      0 0 5px #333;
  box-shadow:       0 0 2px #333;
}
#modal a:hover {
  color:            #d0d0d0;
  border:           2px solid #d0d0d0;
}
#modal a span {
  padding-top:      25px;
}
#modal h1, #modal h2 {
  text-shadow:      1px 1px 0px #000;
  text-align:       center;
  margin:           20px auto;
}

